MONGODB_URI=mongodb://127.0.0.1:27017/kutuphanedatabase
JWT_SECRET=lutfen_kendi_secretinizi_belirleyiniz_91239183917318!!!
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=guclu_bir_sifre_yaziniz
SUPER_ADMIN_EMAIL=admin@admin.com
